<div>
  <q-card>
    <q-card-section>
      <div class="chat-container" ref="chatCard">
        <div class="chat-box">
          <div v-for="(dm, index) in messagesAsJson" :key="index">
            <q-chat-message
              :class="`chat-mesage-index-${index}`"
              :text="[dm.message]"
              :sent="dm.event_pubkey !== activePublicKey"
              :name="dm.profile.name || 'unknown'"
              :stamp="dm.dateFrom"
              size="8"
              text-color="white"
              :bg-color="dm.event_pubkey !== activePublicKey ? 'primary' : 'grey-7'"
            >
              <template v-slot:avatar>
                <q-avatar>
                  <q-icon name="account_circle" />
                </q-avatar>
              </template>
            </q-chat-message>
          </div>
        </div>
      </div>
    </q-card-section>

    <q-card-section>
      <q-form @submit="sendDirectMessage" class="full-width chat-input">
        <q-input
          ref="newMessage"
          v-model="newMessage"
          :disable="!activePublicKey"
          dense
          outlined
          class="q-mb-md"
          placeholder="Type a message..."
        >
          <template v-slot:after>
            <q-btn
              :disable="!newMessage || !activePublicKey"
              round
              dense
              flat
              icon="send"
              type="submit"
            />
          </template>
        </q-input>
      </q-form>
    </q-card-section>
  </q-card>
</div>
