<div>
  <q-btn-dropdown
    split
    unelevated
    color="primary"
    icon="person"
    label="Nostr Account"
  >
    <q-list>
      <q-item disable clickable v-close-popup>
        <q-item-section>
          <q-item-label>NostrAcct Profile</q-item-label>
          <q-item-label caption
            >Edit the merchand name, description, etc</q-item-label
          >
        </q-item-section>
      </q-item>
      <q-item @click="toggleShowKeys" clickable v-close-popup>
        <q-item-section>
          <q-item-label v-if="!showKeys">Show Keys</q-item-label>
          <q-item-label v-else>Hide Keys</q-item-label>
          <q-item-label caption
            >Show nostracct public and private keys</q-item-label
          >
        </q-item-section>
      </q-item>
      <q-item @click="requeryNostrAcctData" clickable v-close-popup>
        <q-item-section>
          <q-item-label>Refresh from Nostr</q-item-label>
          <q-item-label caption
            >Requery account data from Nostr</q-item-label
          >
        </q-item-section>
      </q-item>
      <q-item @click="republishNostrAcctData" clickable v-close-popup>
        <q-item-section>
          <q-item-label>Republish to Nostr</q-item-label>
          <q-item-label caption
            >Republish Nostr Account Data to Nostr</q-item-label
          >
        </q-item-section>
      </q-item>

      <q-item @click="deleteNostrAcct" clickable v-close-popup>
        <q-item-section>
          <q-item-label>Delete from DB</q-item-label>
          <q-item-label caption
            >Delete Nostr Account from database</q-item-label
          >
        </q-item-section>
      </q-item>
      <q-item @click="deleteNostrAcctFromNostr" clickable v-close-popup>
        <q-item-section>
          <q-item-label>Delete from Nostr</q-item-label>
          <q-item-label caption
            >Delete Nostr Account from Nostr</q-item-label
          >
        </q-item-section>
      </q-item>
    </q-list></q-btn-dropdown
  >
</div>
