<q-card>
  <q-card-section>
    <p>
      Nostr Chat<br />
      <small>
        Created by,
        <a
          class="text-secondary"
          target="_blank"
          style="color: unset"
          href="https://github.com/talvasconcelos"
          >Tal Vasconcelos</a
        >
        <span>, </span>
        <a
          class="text-secondary"
          target="_blank"
          style="color: unset"
          href="https://github.com/benarc"
          >Ben Arc</a
        >
        <span>, </span>
        <a
          class="text-secondary"
          target="_blank"
          style="color: unset"
          href="https://github.com/motorina0"
          >Vlad Stan</a
        >
        <span>, </span>
        <a
          class="text-secondary"
          target="_blank"
          style="color: unset"
          href="https://github.com/patmulligan"
          >Pat Mulligan</a
        ></small
      >
    </p>
    <a
      class="text-secondary"
      target="_blank"
      href="/docs#/nostrchat"
      class="text-white"
      >Swagger REST API Documentation</a
    >
  </q-card-section>
  <q-card-section>
    <a class="text-secondary" target="_blank" href="/nostrchat/chat"
      ><q-tooltip>Visit the nostrchat client</q-tooltip
      ><q-icon name="storefront" class="q-mr-sm"></q-icon>Nostrchat client</a
    >
  </q-card-section>
</q-card>
